@charset "utf-8";


.main .robotGoArti .item.item1 .bgBox .bg 
/* , .main .robotGoArti .item.item2 .bgBox .bg */
{ animation: marquee4 infinite 30s linear; }

@keyframes marquee4{
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}